# Copy the contents of this file into a new file called .env.

# The following key-value pairs will be added to the global variable process.env
# via the dotenv npm module

# SERVER ENV
PORT=3000
SITE_URL="localhost"

# AUTHENTICATION
API_TOKEN="<YOUR_TOKEN_HERE>"
API_URL=""

# DATABASE ENV
DB_NAME=""

# FIREBASE ENV
FIREBASE_API_KEY=""
FIREBASE_AUTH_DOMAIN=""
FIREBASE_PROJECT_ID=""
FIREBASE_STORAGE_BUCKET=""
FIREBASE_MESSAGING_SENDER_ID=""
FIREBASE_APP_ID=""